
html,body
{
    width: 100%;
    height: 100%;
   background-size: contain;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Ubuntu';
    background-color: #232829c8;;
    color: aliceblue;
}

.container{
    max-width: 450px;
    width: 100%;
    height: 100vh;
    
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    
}
.Game-Name{
 text-align: center;
 font-size: 70px;
}
.Player-Section{
  max-width: 100%;
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
 
}
.player-details{
    max-width: 180px;
    width: 100%;
    height: 100px;
    margin: auto;
    background-color: #6767671b;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    outline: 1px solid rgba(0, 0, 0, 0.252); 
}
.player-number{
    height: 40px;
    font-size: 25px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-name{
    width: 130px;
    height: 40px;
    font-size: 30px;
    font-weight: 800;
    border-radius: 10px;
    background-color:#88888825;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}
.comparision{
    width: 50px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Grid-Container{
    width: 100%;
    height: 470px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #6767671b;
    border-radius: 10px;
    position: relative;
}

.top-container{
    width: 100%;
    height: 470px;
    position: absolute;
    z-index: -1;
}

.Grid-Section{
    width: 425px;
    height: 425px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    margin: 20px 20px;
    position: relative;
}
.Grid-Section > div{
    border-radius: 10px;
    background-color:#88888825;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
  
    font-weight: 900;
    color: aliceblue;
    outline: 1px solid rgba(0, 0, 0, 0.563); /* Border width and color */
   position: relative;
    transition: transform 0.20s linear;
    
}
.Xhovered,.Ohovered{
    display: none;
    position: absolute;
    z-index: -3;
    
}
.hover-Class:hover{
    transform: scale(1.05); /* Scale the element to 3 times its size */
    background-color:#8888883b; 
    color: transparent; /* Text color */
    -webkit-text-stroke: 1px rgba(240, 248, 255, 0.421);   
}

.reset-btn{
    top:350px;
    right:300px;
    width: 150px;
    height: 50px;
    font-size: 20px;
    border: none;
    background-color:#88888825;
    color: aliceblue;
    border-radius: 10px;
    margin-top: 20px;
    cursor: pointer;
    outline: 1px solid rgba(0, 0, 0, 0.563); 
    position: absolute;
    z-index: 2;
}
.new-game{
    right:100px;
    background-color:#88888825;
    z-index: 2;

}
.disabled{
    pointer-events: none !important;
    
  }